/* Estilos para la tabla */
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%; /* Cambiado de max-width a width */
  box-sizing: border-box; /* Agregado para incluir bordes y padding en el ancho */
  margin: 0 auto;
  margin-top: 20px;
}

/* Estilos para los bordes de la tabla */
th, td {
  border: 3px solid #080808;
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 15px rgb(47, 171, 209);
}

th {
  background-color: #b8cccf;
  font-weight: bold;
}

td {
  vertical-align: middle;
  overflow-wrap: break-word;
  hyphens: auto;
  word-break: break-all; /* Agregado para romper palabras y enlaces largos */
}

/* Estilos para los enlaces */
.enlace {
  text-decoration: none;
  color: #fc0000;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fcfffb;
  border: 1px solid #030303;
  margin: 0 auto;
  display: block;
}

.enlace:hover {
  color: #bd3636;
  background-color: #eeeeee;
  border-color: #e00808;
}

/* Estilos para el mensaje de sin resultados */
p {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  table {
      font-size: 0.8em;
  }
  th, td {
      width: auto; /* Cambiado de 20% a auto */
  }
}
